{% include 'homepage_base.html'%}
{% if session == 'clinic' %}
<script>
  $('#clinic').css("background-color","#178CA4")
  $('#clinic').css("border-radius","25px")
  $('#clinic').css("text-align","center")
</script>
{% endif %}
{% block content %}
<div>
<div style="width: 100%; height: 100vh;">
<div class="clinic-content">
    <div class="left">
        <div class="clinic-div">
        <h6 align="center">Clinic List</h6>

        {% if user_data %}

        {% csrf_token %}
        {% for values in user_data %}
        <!--Uncomment this to see the design of Request item-->
         <!-- <div class="clinic-item"> 
           <img src="../static/images/rate.png" alt="" style="width: 20%;">
           <br>
           <div style='width: 80%;'>
            <br>
            <strong>Animal Vet CLinic Sample Name</strong>
            <text style="font-size: 12px;">Animal Vet CLinic Sample Address</text>
           </div>
        </div>  -->

        <div class="clinic-item" onclick="showClinicInfo(
        '{{values.clinic_address |escapejs}}'
        ,'{{values.clinic_contact_number}}'
        ,'{{values.clinic_description |escapejs}}'
        ,'{{values.clinic_img_directory}}'
        ,'{{values.clinic_img_url}}'
        ,'{{values.clinic_name |escapejs}}'
        ,'{{values.opening_time}}'
        ,'{{values.closing_time}}'
        ,'{{values.email |escapejs}}'
        ,'{{values.latitude}}'
        ,'{{values.longitude}}'
        ,'{{values.total_items}}'
        ,'{{values.user_id}}'
        ,'{{values.clinicCategory}}'
        )" > 
            <img src="{{values.clinic_img_url}}" alt="" style="width: 20%;">
            <br>
            <div style='width: 80%;'>
             <br>
             <strong>{{values.clinic_name}}</strong>
             <text style="font-size: 12px;">{{values.clinic_address}}</text>
            </div>
         </div> 
        {% endfor %}

        {% else %}
        <p align="center"><em>No Clinic is stored in directory.</em></p>

        {% endif %}
        </div>
    </div>
    <div class="right">
        <div class="info-header">
            <img id="showClinicImg" src="../static/images/logo.png" alt="" class="image">
            <div class="info-text">
                <h3 id="showClinicName">Animal Vet CLinic Sample Name</h3>
                <h5 id="showClinicAddress">Animal Vet CLinic Sample Address</h3>
                    <br>
                <img src="../static/images/rate.png" alt="rate" width="24" height="24">
                <img src="../static/images/rate.png" alt="rate" width="24" height="24">
                <img src="../static/images/rate.png" alt="rate" width="24" height="24">
                <img src="../static/images/rate.png" alt="rate" width="24" height="24">
                <img src="../static/images/rate.png" alt="rate" width="24" height="24">
                <p><strong>5.0</strong></p>
                <p id="showClinicTime">Opening and Closing Time</p>
                <p id="showClinicNumber"><strong>Contact number</strong></p>
                <p id="showClinicDescription"><em>Description sample here</em></p>
                <p id="showClinicCategory"><em>Category sample here</em></p>
                
                <button type="button" onclick="deleteClinic();">Delete</button>

            </div>
            
        </div>
        <h5 style="margin:10px; padding-bottom: 10px;"><em>Available items</em></h5>
        <div class="info-body">
            <div id="loading"></div>
            
        </div>
        
    </div>
</div>
<div class="footer" style="width: 100%; background-color: #072A40; color: #F9F7F0; position: fixed; bottom: 0px; text-align: center; padding: 5px;">
    <div style="text-align: center; margin: auto;" class="links">
        <i class="fas fa-envelope-square fa-sm" style="margin-top: 5px; float: left;"> clinic.directory.2021@gmail.com</i> &nbsp;
        <a href="https://www.facebook.com/Govet2022/" target="_blank"><i class="fab fa-facebook fa-sm" style="margin-top: 5px; margin-left: 5px; float: left;">  @Govet2022</i></a> &nbsp;
        <h style="font-size: 12px;">BSIT 4H PIGHATEAM, BULACAN STATE UNIVERSITY MAIN CAMPUS</h> &nbsp;
        <h style="font-size: 12px; float: right;">Copyright © 2021 GoVet All Right Reserved</h>
    </div>
</div>
</div>
</div>
{% endblock content %}