<div class="footer" style="width: 100%; background-color: #E0C097; position: relative; bottom: 0%; text-align: center; padding: 5px;">
    <br>
    <div style="text-align: center; margin: auto;" class="links">
        <i class="fas fa-envelope-square fa-2x" style="margin-top: 5px;"> clinic.directory.2021@gmail.com</i> &nbsp;
    </div>
    <div style="text-align: center; margin: auto;" class="links">
        <a href="https://www.facebook.com/Govet2022/" target="_blank"><i class="fab fa-facebook fa-2x">  @Govet2022</i></a> &nbsp;
    </div>
    <br>
    <div>
        <h5>BSIT 4H PIGHATEAM, BULACAN STATE UNIVERSITY MAIN CAMPUS</h5>
        <P>Copyright © 2021 GoVet All Right Reserved</P>
    </div>
</div>