<div class="footer" style="width: 100%; background-color: #072A40; color: #F9F7F0; position: relative; bottom: 0%; text-align: center; padding: 5px;">
    <div style="text-align: center; margin: auto;" class="links">
        <i class="fas fa-envelope-square fa-sm" style="margin-top: 5px; float: left;"> clinic.directory.2021@gmail.com</i> &nbsp;
        <a href="https://www.facebook.com/Govet2022/" target="_blank"><i class="fab fa-facebook fa-sm" style="margin-top: 5px; margin-left: 5px; float: left;">  @Govet2022</i></a> &nbsp;
        <h style="font-size: 12px;">BSIT 4H PIGHATEAM, BULACAN STATE UNIVERSITY MAIN CAMPUS</h> &nbsp;
        <h style="font-size: 12px; float: right;">Copyright © 2021 GoVet All Right Reserved</h>
    </div>
</div>