{% extends 'homepage_base.html'%}
{% block content %}
<h1>Welcome Back, <em>Admin</em></h1>
<br>
<div class="news">
<h4>News and Clinic activity tracks</h4>
The date with green color is <p style="color: green;">Accepted</p>
The date with red color is<p style="color: red;">Rejected</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% if news %}
    {% for current_news in news %}
<div style="background-color: bisque; margin-bottom: 10px;">
        <!-- date when clinic is accepted -->
        <b>{{current_news.clinic_name}}</b> <br>
        <p style="color: green;">{{current_news.date_accepted}}</p> <br>
        <!-- date when clinic is rejected -->
        <p style="color: red;">{{current_news.date_rejected}}</p> <br>
</div>
    {% endfor %}
{% else %}
    <h6 align='center'><em>No Activity occurs this time </em> </h5>

{% endif %}

</div>
{% endblock content %}