{% include 'homepage_base.html'%}
{% if session == 'homepage' %}
<script>
  $('#homepage').css("background-color","#E0C097")
  $('#homepage').css("border-radius","25px")
  $('#homapage').css("text-align","center")
  $('#homepage').css("color","black")
</script>
{% endif %}
{% block content %}
<h1>Welcome Back, <em>Admin</em></h1>

<div style="padding: 50px; background-color: gainsboro;">
<h4>News and Clinic activity tracks</h4>
<br>
<table class="table w-100" style="border: 1px solid grey; overflow-y: hidden;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Clinic Name</th>
        <th scope="col">Date Accepted</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
        {% if news %}
        {% for current_news in news reveresed %}
        {% if current_news.type == 'rejected' %}
      <tr class="table-danger">
        <td scope="row">{{forloop.counter}}</td>
        <td>{{current_news.clinic_name}}</td>
        <td>{{current_news.date}}</td>
        <td>Rejected</td>
      </tr>
      {% else %}
      <tr class="table-success">
        <td scope="row">{{forloop.counter}}</td>
        <td>{{current_news.clinic_name}}</td>
        <td>{{current_news.date}}</td>
        <td>Accepted</td>
      </tr>
      {% endif %}
      {% endfor %}
      {% else %}
      <tr>
          <td rowspan="3" colspan="2" style="text-align: center;">No record</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock content %}