{% extends 'homepage_base.html'%}
{% block content %}
<h1>Welcome Back, <em>Admin</em></h1>
<br>
<div class="news">
<h4>News and Clinic activity tracks</h4>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% if news %}
    {% for current_news in news %}
        <!-- date when clinic is accepted -->
        {{current_news.date_accepted}} <br>
        {{current_news.clinic_name}} <br>

        <!-- date when clinic is rejected -->
        {{current_news.date_rejected}} <br>
    {% endfor %}
{% else %}
    <h6 align='center'><em>No Activity occurs this time </em> </h5>

{% endif %}

</div>
{% endblock content %}