{% extends 'base.html' %}
{% block content %}
<div class='login-content'>
    <form method='post' id="loginForm">
    <h1 class='login-h1'>Login to your account</h1>
    <input type="email" name="login_email" id="login_email" placeholder="Email" class='login-input'>
    <input type="password" name="login_password" id="login_password" placeholder="Password" class='login-input'>
    <br>
    <a href="#" class="login-link">Forgot your password?</a>
    <br>
    <h3 id="responseMessage"></h3>
    <input type="submit" value="Login" class="login-button" />
    <br>
    <br>
    <a href="#" class="login-link" style='text-align: center;'>Not a member? Register here.</a>
</div>
<div id="loader"></div>
{% endblock content %}