{% include 'base.html' %}
{% block content %}
<div class='login-content'>
    <form method='post' id="loginForm">
    {% csrf_token %}
    <h1 class='login-h1'>Login to Your Administrator Account</h1>
    <input required type="text" name="login_username" id="login_email" placeholder="Username" class='login-input'>
    <input required type="password" name="login_password" id="login_password" placeholder="Password" class='login-input'>
    <br>
    <a href="#" class="login-link"><i>Forgot your password?</i></a>
    <br>
    <h3 id="responseMessage"></h3>
    <input type="submit" value="Login" class="login-button" />
    <br>
    </form>
</div>
<br>
<br>
<br>
<br>
{% include 'footer.html' %}
<div id="loader"></div>
{% endblock content %}