{% extends 'homepage_base.html'%}
{% block content %}
<div class="request-div">
<h5 align="center">Request</h5>
<!--Uncomment this to see the design of Request item-->
<!-- <div class="request-item"> 
   <p><strong>Email</strong> with a name of <strong>Clinic name</strong> has request for your directory.</p>
   <div class="request-action">
       <button class="btn btn-success">Accept</button>
       <button class="btn btn-danger">Decline</button>
   </div>
</div> -->
<h6 align="center"><em>No Request available.</em></h6>
</div>
{% endblock content %}