{% extends 'homepage_base.html'%}
{% block content %}
<div class="request-div">
<h5 align="center">Request</h5>
<!--Uncomment this to see the design of Request item-->
<!-- <div class="request-item"> 
   <p><strong>Email</strong> with a name of <strong>Clinic name</strong> has request for your directory.</p>
   <div class="request-action">
       <button class="btn btn-success">Accept</button>
       <button class="btn btn-danger">Decline</button>
   </div>
</div> -->
<table class="table w-100" style="border: 1px solid grey; overflow-y: hidden;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Clinic Name</th>
        <th>Request Time</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    {% if request_queue %}
    {% for clinic_queue in request_queue %}
      <tr>
        <td scope="row">{{forloop.counter}}</td>
        <td>{{clinic_queue.email}}</td>
        <td>{{clinic_queue.clinic_name}}</td>
        <td>{{time}}</td>
        <td>
            <form>
            {% csrf_token %}
            <button class="btn btn-success" onclick="clinicAccept(
        '{{clinic_queue.clinic_address}}'
        ,'{{clinic_queue.clinic_contact_number}}'
        ,'{{clinic_queue.clinic_description}}'
        ,'{{clinic_queue.clinic_img_directory}}'
        ,'{{clinic_queue.clinic_img_url}}'
        ,'{{clinic_queue.clinic_name}}'
        ,'{{clinic_queue.opening_time}}'
        ,'{{clinic_queue.closing_time}}'
        ,'{{clinic_queue.email}}'
        ,'{{clinic_queue.latitude}}'
        ,'{{clinic_queue.longitude}}'
        ,'{{clinic_queue.total_items}}'
        ,'{{clinic_queue.user_id}}'
        )">Accept</button>
        <button class="btn btn-danger" onclick="clinicDecline('{{clinic_queue.user_id}}','{{clinic_queue.clinic_img_directory}}','{{clinic_queue.email}}' ,'{{clinic_queue.clinic_name}}' ,'{{clinic_queue.password}}')">Decline</button>
        </form>
        </td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
          <td rowspan="3" colspan="2" style="text-align: center;">No request</td>
      </tr>
      {% endif %}
    </tbody>
  </table>

<div id="loader"></div>
</div>
{% endblock content %}