{% extends 'homepage_base.html'%}
{% block content %}
<div class="settings-content">
    <div class="left">
        <div style="text-align: center; padding: 30px; background-color: #E0C097;">
            Account Information
        </div>
    </div>
    <div class="right">
        <div class="holder">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <br>
            <input type="text" class="credentials" disabled>
            <br>
            <label for="exampleInputEmail1" class="form-label">Password</label>
            <br>
            <input type="password" class="credentials" disabled>
            <br>
            <button class="save-button"  id="settings_edit">Edit credentials</button>
        </div>
            <!-- Clinic Image Input File-->
           
</div>
{% endblock content %}